/* Styles for centering text */
.text-center {
  text-align: center; /* Aligns text to the center */
  color: white; /* Text color */
}

/* Styles for centering elements horizontally */
.mx-auto {
  margin: auto; /* Centers the element horizontally */
}

/* Styles for flexbox layout */
.flex {
  display: flex; /* Enables flexbox layout */
}

/* Styles for flexbox layout in column direction */
.flex-col {
  flex-direction: column; /* Sets the flex direction to column */
}

/* Styles for aligning items in the center */
.items-center {
  align-items: center; /* Aligns items vertically at the center */
}

/* Button style for clearing */
.btn-clr {
  background: white; /* Background color */
  color: black; /* Text color */
  border-color: black; /* Border color */
}

/* Button style for special signs */
.btn-sign {
  background-color: orange; /* Background color */
  color: white; /* Text color */
}
